@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgba(255, 255, 255, 0.87);
  background: rgb(41, 83, 145);
  background: linear-gradient(90deg, rgba(41, 83, 145, 1) 0%, rgba(66, 118, 124, 1) 38%, rgba(57, 114, 157, 1) 100%);
}